.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #f4f7f6; */
  background-image: url('../../assets/userloginbackpic.webp');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.login-box {
  background: #f4f7f6;
  margin-top: 50px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  width: 550px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #051f0e;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

/* .form-group input:focus {
  border-color: #1e5631;
  box-shadow: 0 0 4px rgba(30, 86, 49, 0.5);
} */

.login-btn {
  width: 100%;
  padding: 12px;
  background: #1e5631;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  /* transition: background 0.3s; */
}

.login-btn:hover {
  background: #145a2d;
}

.forgot-text {
  margin-top: 15px;
  font-size: 14px;
  color: #555;

}

.forgot-text a {
  color: #1e5631;
  font-weight: bold;
  text-decoration: none;
}

.forgot-text a:hover {
  text-decoration: underline;
}
.user-sign-up{
  margin: 0;
}
.user-sign-up a{
  color: #1e5631;
  font-weight:bold;
  text-decoration: none;
}