.image-commercial {
  margin-top: 60px;
  position: relative;
}

.image-commercial-class {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.image-commercial::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.image-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
}

.image-text h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-text p {
  font-size: 18px;
}

.image-form {
  background-color: white;
  width: 80%;
  margin: -60px auto 50px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-form h1 {
  color: #155b75;
  font-size: 26px;
}

.image-form p {
  color: #555;
  margin-bottom: 20px;
  
}
.form-wrapper{
  margin-top: 80px;
}

.info-grid-commercial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.info-card-commercial {
  background: #f7f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-card-commercial h3 {
  color: #0e4a5b;
  margin-bottom: 10px;
}

.button-form {
  text-align: center;
  margin-top: 30px;
}

.button-submit {
  background-color: #0e4a5b;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
}

.button-submit:hover {
  background-color: #08323e;
}

.paragraph {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.horizontal-line {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 40px 0;
}

.form-contact {
  text-align: center;
  color: #0e4a5b;
}

.link-color {
  color: #1e9dbf;
  text-decoration: none;
}

.link-color:hover {
  text-decoration: underline;
}
