.image-commercial{
    margin-top: 76px;
      position: relative;
}
.image-commercial-class{
    width: 100%;
    height: 380px;
}

.image-commercial::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.2) 60%, transparent 100%);
  pointer-events: none;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2; 
  max-width: 40%;
}

.image-text h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.image-text p {
  font-size: 16px;
  line-height: 1.5;
}

.image-form {
  background-color: white;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content:left;
  margin-top: -80px; 
  margin-left: 80px;
  /* margin-right: 50px; */
  width: 1200px;
  height: 500px;
  padding: 20px 45px;
  border-radius: 15px;
}
.form-grid {
  display: grid;
  width: 1100px;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 30px;
  margin-bottom: 0px;
}

.form-grid input,
.form-grid select {
    border: 1px solid rgb(211, 219, 202);
    height: 50px;
    padding: 0 10px;
    border-radius: 6px;
    transition: all 0.3s ease; 
}


.form-grid input:hover,
.form-grid select:hover {
    border: 2px solid #5e7375;
    outline: none; 
}
.button-form{
    text-align: right;
    margin-right: 25px;
}
.button-submit{
     background-color: rgb(187, 233, 233);
     border-radius: 10px;
     width: 180px;
     height: 40px;
}

.button-submit:hover{
 border: 2px solid #fff; 
}
.paragraph{
    font-size: smaller;
    margin-bottom: 20px;
}
.horizontal-line{
  border: 0;         
  height: 1px;        
  background-color: #000; 
  margin: 80px 0;
}
.form-contact{
color: rgb(35, 75, 75);
}
.link-color{
    color:rgb(75, 177, 177);
}