.headings {
  display: flex;
  align-items: center;
  /* background-color: rgb(98, 247, 247); */
  /* max-width: 100%; */
  /* max-height: 80px; */
  /* margin-top: 10px; */
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  /* background-color: rgb(123, 197, 219); */
  background-color: #b5dde4;
}
.brandname {
  font-size: 40px;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
}

.nav {
  list-style-type: none;
  display: inline-flex;
  margin-left: 50px;
  gap: 30px;
  max-width: 100%;
 
}

.drpdwnfont {
  font-size: 20px !important;
  font-size:larger !important;
  color: black !important;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  z-index: 2;
  margin-top: 20px;
}





.brandpic {
  display: flex;
  align-items: center;
  color: white;
}

.loginbutton {
    border: none;
    /* background-color: rgb(172, 182, 182); */
    /* border-radius: 3px; */
    background-color: rgb(40, 162, 179);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    width: 80px;
    height: 35px;
    /* margin-left: 500px; */
    margin-top: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-left: 320px;
    
}

.registration {
    border: none;
    font-size: 18px;
    /* background-color: rgb(172, 182, 182); */
    background-color: rgb(40, 162, 179);
    font-family: 'Times New Roman', Times, serif;
    width: 80px;
    height: 35px;
    /* margin-left: 40px; */
    margin-top: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}