body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #89f7fe, #7d8680);
  margin: 0px;
  padding: 0;
  min-height: 100vh;
}

.display-users {
  background: #ffffff;
  width: 420px;
  border-radius: 15px;
  padding: 20px;
  margin-left: 220px;
  margin-top: 80px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  display: block;
  transition: all 0.3s ease;
  text-align: center;
}


.display-user-head {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
  font-weight: 500;
  text-align: left;
}

.image-style {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  margin-top: 12px;
  margin-left: 0px;
  object-fit: cover;
  border: 2px solid #f0f0f0;
}


.view-all-user-admin {
  display: flex;
  margin-top: 10px;
  margin-right: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.view-all-user-admin:hover {
  transform: scale(1.05);
}


.view-all-user-admin:nth-of-type(1) {
  background-color: #1e7209;
  color: white;
}

.view-all-user-admin:nth-of-type(1):hover {
  background-color: #2db95c;
}


.view-all-user-admin:nth-of-type(2) {
  background-color: #1e7209;
  color: white;
}

.view-all-user-admin:nth-of-type(2):hover {
  background-color: #2db95c;
}

