.pickup-container {
  width: 90%;
  margin: 20px 200px;
  text-align: center;
}

.pickup-form {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.pickup-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.pickup-card {
  background: white;
  box-shadow: 0 0 5px #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
}

.pickup-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
