/* body{
    background-image: url(../../../assets/sustainpagepic1.jpg);
    z-index: -1;
    background-repeat: no-repeat;
} */
.form-section-coll {
  /* background-image: url(../../../assets/wastecollecterlogin.webp);
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

  width: 100%;
  min-height: 100vh;
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 23px;
}

.form-section-coll h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #111213;
  background-color: #f5f6fa21;
  font-size: 35px;
}

.two-blocks-coll {
  display: flex;
  width: 80%;
  max-width: 1000px;
  height: 500px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}


.col-sm-6-coll {
  width: 50%;
}

.image-coll {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form-container-right-coll {
  width: 50%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a3bd98;
}

.form-container-coll {
  width: 100%;
  margin-top: 12px;
}

.form-group-in-coll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.form-group-in-coll label {
  flex: 1;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.form-group-in-coll input {
  flex: 2;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.form-group-in-coll input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}


.submit-btn-coll {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn-coll:hover {
  background-color: #219150;
}

