.sustain-headingone {
    margin-top: 180px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 50px;
}

.sustain-headingtwo {
    margin-left: 50px;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 5px;
}

.sustain-headingthree {
    margin-left: 50px;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 1px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    position: relative;
    margin-top: 10px;
}

.image-box {
    position: relative;
    margin-left: -50px;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.overlap-square {
    width: 450px;
    height: 350px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text-box {
    position: relative;
    left: 180px;
    bottom: -100px;
    width: 800px;
    height: 450px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.sustainbody-firstline {
    font-size: 50px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 140px;
}

.sustain-overlaptext1{
    margin-left: 120px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}
.sustain-overlaptext2{
    margin-left: 120px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.sustain-overlaptext3{
    margin-left: 120px;
    margin-top: 10px; 
    line-height: 0.8;
}

.row {
    margin-left: 5px;
    margin-top: 10px;
    gap: 13px;
    width: fit-content;

}

.row-first{
    margin-top: 20px;   
}
.row-second{
    margin-top: 30px;
}
.col{
    font-weight: bold;
    font-size: 15px;
    border-color: transparent;
    background-color: #d0d7d81e;
    gap: 20px;
    margin: 40px;
    width: 25px;
    height: 205px;
    padding: 20px;
}
.col-content{
    font-weight: lighter;
    margin-top: 18px;
}