.dashboard-wrapper{
    margin-left: 250px;
}

.coll-container{
    width: 300px;
    height: 250px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    margin-top: 130px;
    box-shadow: 0 8px 20px rgba(161, 181, 197, 0.4);
}
.main-content{
  margin-left: 50px;
  display: flex;           
  gap: 20px;              
  flex-wrap: wrap;         
}
.profile-link{
  display: block;
  margin-top: 50px;
}