.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 120px 100px 60px 100px; 
  font-family: "Poppins", sans-serif;
}


.cnt {
  position: absolute;
  top: 80px; 
  left: 50%;
  transform: translateX(-50%);
  color: rgb(58, 58, 70);
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  text-align: center;
}


.address {
  flex: 1;
  margin-top: 160px;
  padding-right: 40px;
}

.we {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px;
}

input[type="button"] {
  background-color: rgb(40, 175, 175);
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

input[type="button"]:hover {
  background-color: rgb(26, 140, 140);
}


.loginpage {
  flex: 1;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  height: 430px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}
input[type="Email"],
input[type="text"],
input[type="number"],

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}


input[type="submit"] {
  width: 100%;
  background-color: rgb(40, 175, 175);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(26, 140, 140);
}





