.footerarrangement {
  background-color: rgba(0, 30, 0, 0.9); 
  color: white;
  padding: 50px 80px;
  font-family: 'Poppins', sans-serif;
}

.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo {
  font-size: 45px;
  font-weight: bold;
  color: #8bc34a; 
  margin-right: 20px;
}

.footer-line {
  flex-grow: 1;
  height: 3px;
  border: none;
  background-color: white;
  opacity: 0.8;
  border-radius: 2px;
}


.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 140px;
}

.footer-column {
  flex: 1 1 200px;
}

.footertext {
  margin: 10px 0;
  font-size: 15px;
  color: #cfd8dc;
  cursor: pointer;
  transition: 0.3s;
}

.footertext:hover {
  color: #8bc34a;
  transform: translateX(5px);
}