.landing-page-image {
    width: 100%;
    height: 100vh;        
    object-fit: cover;   
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;     
    /* opacity: 0.8; */
    pointer-events: none;
}

.firstline {
    position: relative;       
    padding-top: 230px;       
    padding-left: 50px;
    max-width: 900px;   
    font-weight: 900;
}

.sustainabilty {
    font-size: 25px;
    /* color: rgb(36, 34, 13); */
    color:rgb(210, 226, 210);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.we-are-driving {
    font-weight: bold;
    font-size: 50px;
    margin: 10px 0;
    color:white;
}

.third-line {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    color:white;
}

.third-line p {
    margin: 5px 0;
}
/* 
.sustainabilty {
    margin-top: 250px;
    margin-left: 50px;
    position: absolute;
    color: rgb(36, 34, 13);
    font-family: 'Courier New', Courier, monospace;
}

.we-are-driving {
    margin-top: 280px;
    margin-left: 50px;
    position: absolute;
    font-weight: bold;
    font-size: 50px;
}

.third-line {
    color: rgb(31, 29, 7);
    font-family: 'Courier New', Courier, monospace;
}

.third-line-first {
    margin-top: 390px;
    margin-left: 50px;
    position: absolute;
}

.third-line-second {
    margin-top: 410px;
    margin-left: 50px;
    position: absolute;
} */

.d-block {
    height: 500px;
    width: 500px;
    margin-top: 850px;
}

.carousel-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 10px;
}

.carousel {
    margin-top: 300px !important;
    margin-left: 50px;
}
.carousel-slide{
    margin-top: 250px;
    position: relative;
}
.footerarrangement {
  background-color: rgba(0, 30, 0, 0.9); 
  color: white;
  padding: 50px 80px;
  font-family: 'Poppins', sans-serif;
}

.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo {
  font-size: 45px;
  font-weight: bold;
  color: #8bc34a; 
  margin-right: 20px;
}

.footer-line {
  flex-grow: 1;
  height: 3px;
  border: none;
  background-color: white;
  opacity: 0.8;
  border-radius: 2px;
}


.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 140px;
}

.footer-column {
  flex: 1 1 200px;
}

.footertext {
  margin: 10px 0;
  font-size: 15px;
  color: #cfd8dc;
  cursor: pointer;
  transition: 0.3s;
}

.footertext:hover {
  color: #8bc34a;
  transform: translateX(5px);
}

