.leftside-dashboard {
  width: '100px';
  height: '500px';
  background-color:  rgb(172, 182, 182);
  padding: '20px';
  display: flex;
}
.headingone{
  margin-left: 220px;
}
.admin-container-form{
  display: flex;
  margin-left: 230px;
  gap: 50px;
  margin-top: 150px;
}
.admin-container{
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 30px;
}
.total-user-viewbtn{
  width: 50px;
  height:30px;
  border:1px solid black;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(123, 123, 153);
}
.total-collecter-viewbtn{
  width: 50px;
  height:30px;
  border:1px solid black;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(123, 123, 153);
}