/* body{
  background-color: #eceeee;
} */

.form-section h2{
 text-align: center;
 margin-top: 90px;
 width: 100%;
}
.two-blocks{
    display: flex;
    /* margin-top: 100px; */
}

.image{
width: 90%;
height: 650px;
margin: 30px;
}
.subhead{
    margin: 30px 40px;
    background-color: #eef7f6;
    padding: 20px;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 600px;
  padding: 8px 12px;
  margin-top: 3px;
  border: 1px solid #c5d1cf;
  border-radius: 8px;
  background-color: #f9fafa;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.02);
}

.form-container input:hover,
.form-container select:hover,
.form-container textarea:hover {
  background-color: #eef7f6;
  border-color: #7bb3b0;
}


.form-container label {
  font-weight: 600;
  color: #253237;
  display: block;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.submit-btn {
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  background-color: #24adc5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #065a69;
}
.checkbox{
    display: flex;
    gap: 20px;
}
.checkbox input{
    width: 15px;
    height: 15px;
    margin-top: 15px;
}