/* body {
    margin: 0;
} */


.rightside {
    height: 60px;
    margin-left: 1100px;
    position: fixed;
}

.dropdowns {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    /* position: fixed; */
    /* top: 0; */
    margin-top: 5px;
}

.navbar {
    display: inline-flex;
    gap: 40px;
    list-style-type: none;
    margin-left: 550px;
    margin-top: 10px;
    /* position: fixed; */

}

/* .drpdwnfont {
    font-size: 16px;
    color: #08090a;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
} */

.eng select {
    margin-top: 10px;
    font-size: 15px;
    background-color: transparent;
    color: rgb(22, 18, 18);
    padding: 5px 20px;
    margin-left: 20px;
}

.eng option {
    color: black;
    
}